.tpl-bgime{
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
   background-image: url("img/slider-background.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 610px;
}




.header
{
    display: flex;
    font-size: 27px;
    padding-left: 20px;

}
.tp-bgime
{
    padding-top: 32px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    width: 100%;
    height: 79%;
}
.tpl-text
{
  font-size: 22px;
    min-width: 619px;
    max-width: 619px;
    color: rgb(40, 40, 40);
    padding-left: 20px;
    transform: translate(0,-53px);
}